<!DOCTYPE html>
<html ng-app="ResponsiveTest">
<head>
    <meta charset="utf-8">
    <title>Responsive (RWD) 響應式網站版面測試 | SIMULAR 夏木樂網站工具</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="本站可以協助您測試網站在各種不同裝置螢幕大小上的呈現效果，讓您方便進行 Responsive Web Design (RWD) 開發。">
    <meta name="keywords" content="響應式網站設計, test responsive web design, responsive web design, responsive design testing, responsive web design testing, Responsive Web Design Tools">
    <meta name="author" content="Simular">
    <link rel="icon" href="http://simular.co/templates/tz_jollyany_joomla/favicon.ico" type="image/x-icon" />

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" media="screen">
    <link href="dist/css/style.min.css" rel="stylesheet" media="screen">

	<meta property="og:image" content="http://i.imgur.com/YP4h8r9.jpg">

    <!--[if lt IE 9]>
    <script src="vendor/jquery/jquery-1.10.2.min.js"></script>
    <script src="vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!--><script src="vendor/jquery/jquery-2.0.3.min.js"></script><!--<![endif]-->
    <script type="text/javascript" src="vendor/jquery-ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="dist/js/responsivetest.min.js"></script>

    <!--[if lte IE 8]>
    <script type="text/javascript">
    document.createElement('rt-device');
    </script>
    <![endif]-->
</head>
<body ng-controller="IndexController" ng-init="init()">
    <!-- nav: -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".rt-navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img width="105" src="dist/img/simular-logo.png" alt="Responsive (RWD) 響應式網站版面測試" /></a>
            </div>

            <div class="nav-collapse rt-navbar-collapse rt-navbar">
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control" ng-model="url" name="url" style="width: 250px; margin-right: 20px;" placeholder="Enter the URL" rt-keyup="onKeyup" />
                    <input type="text" class="form-control" ng-model="w" name="w" style="width: 60px;" placeholder="w" />
                    <span style="color: #777;">x</span>
                    <input type="text" class="form-control" ng-model="h" name="h" style="width: 60px;" placeholder="h" />
                    <button type="button" class="btn btn-success" ng-click="rotate()"><i class="fa fa-retweet"></i> 翻轉</button>
	                <a class="btn btn-warning" href="http://simular.co">夏木樂網頁設計 <i class="fa fa-share"></i></a>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-repeat="device in SUPPORTED_DEVICES" id="{{ device.type }}">
                        <a href="#{{ device.type }}" class="dropdown-toggle" data-toggle="dropdown" title="{{ device.title }}"><i class="fa {{ device.icon }} fa-2x"></i></a>
                        <rt-device brands="device.brands"></rt-device>
                    </li>
                    <li><a data-toggle="modal" href="#about"><i class="fa fa-info-circle fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- :nav -->

    <!-- ruler: -->
    <div class="rt-ruler"></div>
    <!-- :ruler -->

    <!-- dest-iframe: -->
    <div class="rt-iframe" ng-style="{ width: w / pxd + 15 + 'px', height: h / pxd + 'px' }" rt-resizable ng-show="!loading" id="iframe">
        <iframe ng-src="{{ frameSrc }}" rt-frame-loading></iframe>
    </div>
    <!-- :dest-iframe -->

    <!-- about: -->
    <div class="modal fade" id="about">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Responsive (RWD) 響應式網站版面測試</h4>
                </div>
                <div class="modal-body text-center">
	                <p>
		                本工具由 <a href="http://simular.co" target="_blank">夏木樂網頁設計</a> 製作並維護。
	                </p>

	                <p>
		                此工具由開源的 Responsive Test 工具修改而成，<br>感謝 <a href="http://twitter.com/nghuuphuoc">Nguyen Huu Phuoc</a>，感謝 Open Source。
	                </p>

	                <p>
		                &copy; 2015 <a href="http://megamount.tw">百岳國際股份有限公司</a>
	                </p>
                    <p>
                        <small>
                            Powered by <a href="http://getbootstrap.com">Bootstrap 3</a>, <a href="http://angularjs.org">AngularJs</a>, <a href="http://jquery.com">jQuery</a> and <a href="http://jqueryui.com">jQuery UI</a><br />
                            Icons are provided by <a href="http://fontawesome.io">Font Awesome</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- :about -->

<script type="text/javascript">
$(document).ready(function() {
    var rulerIndex = $('.rt-ruler').css('z-index');
    $('#iframe').on('mouseover', function() {
        $(this).css('z-index', rulerIndex + 10);
    }).on('mouseout', function() {
        $(this).css('z-index', rulerIndex - 10);
    });
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59448570-9', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
